
:root{
    --yellow: rgb(255, 232, 31);
    --black: rgb(0, 0, 0);
    --red: rgb(244, 46, 53);
}


.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-red{
    background-color: var(--red);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-red{
    color: var(--red);
}


body{
    background-color: var(--black);
}

.navbar{
    height: 12vh;
    width: 100%;
    background-color: var(--yellow);
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-navbar{
    width: 100px;
}

.list-navbar{
    display: flex;
}

.link-navbar{
    list-style-type: none;
}

.link-navbar >a{
    text-decoration: none;
    color: var(--black);
    margin: 20px;
}



/* ACCORDION */
.accordion-button:not(.collapsed){
    color: var(--yellow);
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}


.card-custom{
    height: 200px;
    width: 30%;
    background-color: var(--black);
    color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin: 10px;
}

#contenitore{
    display: flex;
    flex-wrap: wrap;
}