
h1, h2, h3, .h1, .h2, .h3{
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root{
    --yellow: rgb(255, 232, 31);
    --black: rgb(0, 0, 0);
    --red: rgb(244, 46, 53);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-red{
    background-color: var(--red);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-red{
    color: var(--red);
}


/* navbar */

.navbar{
    height: 24vh;
    width: 100%;
    position: fixed;
    transition: 0.7s;
}

.logo{
    width: 100px;
}

.list-navbar{
    list-style-type: none;
    display: flex;
}

.link-navbar{
    margin: 20px;
}

.link-navbar:hover{
    color: var(--red) !important
}